
@{
    ViewBag.Title = "xacnhandonhang";
    Layout = "~/Views/Shared/LayOutUser.cshtml";
}

<h2 style="color:red;font-size:16px">Đơn hàng của Quý Khách đã được ghi nhận chúng tôi sẽ liên hệ cho quý khách trong thời gian sớm nhất và giao hàng đúng hẹn.Xin cảm ơn Quý Khách Đã tin tưởng muua hàng của chúng tôi !</h2>
<p style="color:#000">
    @Html.ActionLink("TRỞ VỀ TRANG CHỦ", "Index", "BanThu")
</p>
